<span class="badge badge-pill badge-warning text-medium">Credits: {{ credits }}</span>

{% for k, v in minerals %}
    <span class="mineral-name">{{ k }}:</span> <span class="mineral-quantity">{{ v }}</span>
{% endfor %}