<div class="ship-container" data-ship="{{ identifier }}">
    <div class="row">
        <div class="col">
            <h2 class="pt-0">{{name}}</h2>
            <p>{{ description }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>Unassigned: {{ unassigned }}</p>
            {% for k, v in mining %}
                <p>{{ k }}: {{ v }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="btn-group" role="group" aria-label="Buy {{name}}">
                <button type="button" class="btn btn-success buy-ship" data-amount="1">Buy x1</button>
                <button type="button" class="btn btn-success buy-ship" data-amount="10">Buy x10</button>
                <button type="button" class="btn btn-success buy-ship" data-amount="100">Buy x100</button>
            </div>
            <span class="small">Mines {{ speed }}m/s</span>
        </div>
    </div>

    <div class="row mt-3">

        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="{{ identifier }}-mineral">Minerals</label>
                </div>
                <select class="custom-select" id="{{ identifier }}-mineral">
                    {% for k, v in minerals %}
                        <option value="{{ v }}">{{ v }}</option>
                    {% endfor %}
                </select>

                <div class="btn-group" role="group" aria-label="Assign {{name}}">
                    <button type="button" class="btn btn-primary assign-ship" data-amount="1">Assign x1</button>
                    <button type="button" class="btn btn-primary assign-ship" data-amount="10">Assign x10</button>
                </div>
            </div>
        </div>
    </div>
</div>